---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface P {
    title: string;
    description: string;
    icon: string;
}

export interface Props extends P {
    frontmatter?: P;
}

const { title, description, icon } = Astro.props?.frontmatter
    ? Astro.props.frontmatter
    : Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />

        <link rel="icon" href="/favicon.ico" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="/styles.css" />
        <meta name="apple-mobile-web-app-status-bar" content="#3a70d9" />
        <meta name="theme-color" content="#3a70d9" />

        <meta name="generator" content={Astro.generator} />
        <meta name="thumbnail-icon" content={icon} />

        <title>{title} | Noam Zaks</title>

        <meta
            property="og:image"
            itemprop="image"
            content={Astro.site +
                "thumbnails" +
                Astro.url.pathname +
                "thumbnail.png"}
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link
            rel="canonical"
            href={Astro.site!.toString().slice(0, -1) + Astro.url.pathname}
        />
    </head>
    <body>
        <Header title={title} />
        <main>
            <div class="container">
                <slot />
            </div>
        </main>
        <Footer />
    </body>
</html>

<style>
    main {
        width: 100%;
        flex-grow: 1;
        overflow: auto;
    }

    .container {
        margin: auto;
        padding: 1rem;
        width: 720px;
        max-width: calc(100% - 2rem);
    }
</style>
